@model myFlightapp.Models.FlightModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_flightLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FlightModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowRoundTrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowRoundTrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Travel_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Travel_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOffTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flight_duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flight_duration)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id=Model.Id /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
